[submodule "conf.d/templates"]
	path = conf.d/app-templates
	url = https://gerrit.automotivelinux.org/gerrit/p/apps/app-templates.git
[submodule "ucs2-lib/unicens"]
	path = ucs2-lib/unicens
	url = https://github.com/iotbzh/unicens.git
